body{
    .hamburger-menu {
        position: fixed;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        z-index: 1001;
        cursor: pointer;
    
        span {
            display: block;
            width: 100%;
            height: 4px;
            background-color: #000;
            border-radius: 4px;
            transition: all 0.3s ease-in-out;
    
            &:nth-child(1) {
            transform-origin: top;
            }
    
            &:nth-child(2) {
            transform-origin: center;
            }
    
            &:nth-child(3) {
            transform-origin: bottom;
            }
        }
        &.open {
            span {
                &:nth-child(1) {
                    transform: rotate(135deg) translate(6px, -10px);
                }
                &:nth-child(2) {
                    transform: scale(0);
                }
                &:nth-child(3) {
                    transform: rotate(-135deg) translate(6px, 10px);
                }
            }
        }
    
    }
    .nav{
        display: none;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); // オーバーレイの背景色
        opacity: 0; // 初期状態では非表示
        z-index: 999; // メニューが他の要素の上に表示されるようにする
        transition: opacity 0.3s ease; // フェードイン/フェードアウトのアニメーション

        pointer-events: none;// マウスイベントを有効化
        &.active {
            opacity: 1; // アクティブ状態では表示
        }
    }
    .menu {
        position: fixed;
        top: -100%; // 初期状態では画面上部に隠れる
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #19b5feb4; // メニューの背景色
        z-index: 1000; // オーバーレイよりも上に表示される
        display: flex;
        justify-content: center;
        align-items: center;
        
        ul {
          li {
            font-family: "851ゴチカクット";
            margin-bottom: 10vh;
            font-size: 4vh;
            text-align: center;
            padding: 1vh;
            border-radius: 10px;
            transition: background-color 0.3s ease;
          }
          
          li:hover {
            background-color: #ffffff59;
          }
        }
        
        &.active {
          top: 0; // アクティブ状態では画面上部に表示
          animation: waterDrop 0.5s forwards; // 水滴のアニメーションを適用
        }
        
        @keyframes waterDrop {
          0% {
            clip-path: circle(0% at 50% 0); // 水滴の初期状態（非表示）
          }
          100% {
            clip-path: circle(100%); // 水滴が広がる状態（表示）
          }
        }
    }
    main{
        margin-bottom: 0;
            .main_visual{
                background-image: url(/image/main.jpg);
                position: relative;
                background-size: cover;
                background-position: center center;    
                justify-content: center;
                align-items: center;
                height: 90vh;
            }
    }
    h2{
        font-size: 30px;
        font-weight: bolder;
    }
    h3{
        font-size: 20px;
        font-weight: bolder;
    }
    .border{
        border: solid 2px #000;
    }
    footer{
        background-color: #00000095;
    }
    .container{
        width: 80%;
    }
}