body{


    h2{
        font-size: 30px;
        font-weight: bolder;
    }
    h3{
        font-size: 20px;
        font-weight: bolder;
    }
    .border{
        border: solid 2px #000;
    }
    .container{
        width: min(100% - 2rem,640px );
		margin-inline: auto ;
		align-items: center;
    	justify-content: center;
    }
}