body{
    font-family: "G2サンセリフ-B";
    h2{
        font-size: 30px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    h3{
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
};