footer{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    .sns{
        color: #ffffff;
        width: 100%; 
        img{
            width: 40px;
            height: 40px;
            margin:0 40px;
        }
    }
}