.gallery-window {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 70vh;
    
    .gallery-title {
        flex: 1; 
        display: flex;
        justify-content: center;
        align-items: center;
        @media (width: 1080px) {
            
        }
    }  
    .caption {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: min($numbers: );
        }
    }
}
