.gallery-window {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 70vh;
    
    .gallery-title {
        flex: 1; 
        display: flex;
        justify-content: center;
        align-items: center;
    }  
    .caption {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
