.gallery-window {
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 要素を縦方向に中央揃え */
    height: 70vh;
    
    h3 {
        flex: 1; /* 残りのスペースを均等に分配 */
    }  
    .caption {
        text-align: right; /* テキストを右寄せにする */
    }
}
