main{
    margin-bottom: 0;
        .main_visual{
            background-image: url(/image/main.jpg);
            position: relative;
            background-size: cover;
            background-position: center center;    
            justify-content: center;
            align-items: center;
            height: 70vh;
        }
}